<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sobre</h2>
                <hr class="light">
                <img src="img/photo.png" style="width: 33.33333333%;" alt="">
            </div>
            <div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fas fa-4x fa-tasks wow bounceIn" data-wow-delay=".1s"></i>
                        <h3>Misão</h3>
                        <p>Tornar-se um dos maiores, melhores e prósperos escritórios de advocacia até o ano de 2030.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fas fa-4x fa-gavel wow bounceIn" data-wow-delay=".3s"></i>
                        <h3>Visão</h3>
                        <p>Prestar Serviço de Advocacia & Assessoria Empresarial de qualidade, na busca incessante para assegurar os direitos dos clientes.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fas fa-4x fa-file-signature wow bounceIn"></i>
                        <h3>Valores</h3>
                        <p>Guarida para os que buscam seus direitos com preços justos, organização na busca por melhores resultados.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
