<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nossas Especialidades</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-tasks wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Direito Administrativo</h3>
                    <p class="text-muted">Assessoria para Licitações e contratos com a adm pública, assessoria para concessionárias e permissionárias de serviços público, a servidores públicos. Atuamos na esfera administrativa como recurso de multas. Emitimos Parece. Na esfera judicial, a título de exemplificação ação de Responsabilidade Civil do Estado, Responsabilidade do estado pela prática de atos judiciais, Reparação dos danos.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-gavel wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Direito Cívil</h3>
                    <p class="text-muted">Assessoria e ações pertinentes ao interesse da empresa, na área imobiliária, ambiental, sucessões, uso indevido da imagem, financiamentos.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-file-signature wow bounceIn text-primary"></i>
                    <h3>Direito Empresarial</h3>
                    <p class="text-muted">Auxiliando micros, pequenas e médias empresas em situações de processos e prevenção dos mesmos.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-id-badge wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Direito Previdenciário</h3>
                    <p class="text-muted">Busca pela efetivação dos direitos do segurado no INSS, na esfera judicial. Planejamento de aposentadoria, inclusão do tempo de contribuição no CNIS, auxílio doença, aposentadoria por tempo de contribuição, aposentadoria por invalidez, aposentadoria especial, revisão de aposentadoria.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-address-card wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Direito Trabalhista</h3>
                    <p class="text-muted">Assessoria & consultoria para Departamento Pessoal – RH, Adequação da Legislação na rotina de trabalho Contestações Judiciais e Recursos; Intermediação com Sindicatos. Ações Trabalhistas.</p>
                </div>
            </div>
        </div>
    </div>
</section>
