<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nossas Especialidades</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-tasks wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Direito Administrativo</h3>
                    <p class="text-muted">Atuamos na esfera administrativa e judicial. Assessoria para Licitações e contratos com a adm. pública, assessoria para concessionárias e permissionárias de serviços público. Recursos de multas. Emitimos Parecer. Responsabilidade Civil do Estado, Responsabilidade do estado pela prática de atos judiciais, Reparação dos danos.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-gavel wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Direito Civil</h3>
                    <p class="text-muted">Assessoria e ações pertinentes ao interesse da empresa, na área imobiliária, ambiental, sucessões, uso indevido da imagem, financiamentos, leasings, usucapião.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-file-signature wow bounceIn text-primary"></i>
                    <h3>Direito Empresarial</h3>
                    <p class="text-muted">Contratos, Direito do Consumidor, Registro de Marcas e Patentes, Propriedade Intelectual, Recuperação Judicial, Concordata, Falência. Assessoria em elaboração de Atas das AGE e/ou AGO, Abertura de Capital, Incorporação, Holding, Representação junto ao CVM Contratos Sociais, Fusões, Aquisições, Cisões. Representação em assembleia de acionistas.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-id-badge wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Direito Previdenciário</h3>
                    <p class="text-muted">Busca pela efetivação dos direitos do segurado no INSS, na esfera judicial. Planejamento  de aposentadoria, inclusão do tempo de contribuição no CNIS, auxílio doença, aposentadoria por tempo de contribuição, aposentadoria por invalidez, aposentadoria especial, revisão de aposentadoria.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-address-card wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Direito Trabalhista</h3>
                    <p class="text-muted">Assessoria & consultoria para Departamento Pessoal – RH, Adequação da Legislação na rotina de trabalho. Contestações Judiciais e Recursos, intermediação com Sindicatos. Ações Trabalhistas.</p>
                </div>
            </div>
        </div>
    </div>
</section>
